
.monday {
    display: flex;
    margin-bottom: 100px;

}

.monday-item {
    text-align: center;
    width: 250px;
    height: 250px;
    margin: auto;
}

h2 {
    margin-right: 100px;
}

img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

p {
    font-weight: 700;
}

.line {
    width: 100vw;
    border: 1px solid rgb(75, 75, 75);
}

@media (max-width: 768px) {
    .monday {
        flex-direction: column;
    }

    .monday-item {
        width: 100%;
        height: auto;
    }
}
